@model IEnumerable<DTO.CarDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    @if (Model != null && Model.Any())
    {
        <div class="row" id="product-list">
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-4 product-item" data-product-id="@item.CarId">
                    <div class="gallery_box">
                        <div class="gallery_img"><img src="data:image/jpeg;base64,@item.ImageUrl"></div>
                        <h3 class="types_text">@item.Model</h3>
                        <h4 class="types_text">@item.Brand</h4>
                        <p class="looking_text"> Price: @item.PricePerDay</p>

                        <form asp-controller="Client" asp-action="Details" method="get">
                            <input type="hidden" name="id" value="@item.CarId" />
                            <div class="read_bt">
                                <a href="javascript:void(0);" onclick="this.closest('form').submit();">Book Now</a>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No products available.</p>
    }
</div>
